.empresa-logo {
    display: block;
    margin: auto;
    width: 70px;
    padding: 3px;
}

.empresa-text {
    color: #FFF;
    font-weight: 600;
    text-align: center;
    font-style: italic;
}

.user-text {
    color: #FFF;
    font-weight: 600;
    font-style: italic;
}

/* difre */
.router-link-active{
    color: red;
    opacity: 1;
    visibility: true;
    transition: all 0.25s;
}
.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }